p {
    text-align: center;
}

h1 {
    color: darkorchid;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: lavenderblush;
    text-align: center;
}

#navigation {
    text-align: center;
    background-color: aquamarine;
}