p {
    text-align: center;
}

h1 {
    color: lightblue;
    text-align: center;
    font-family: "montserrat", sans-serif;
}

h2 {
    text-align: center;
}

body {
    background-color: lavenderblush;
    text-align: center;
}

#navigation {
    text-align: center;
    background-color: aquamarine;
}

.header {
    background-color: darkorchid;
}