p {
    text-align: center;
}

h1 {
    color: darkorchid;
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
}

body {
    background-color: lavenderblush;
    text-align: center;
}